[submodule "packages/frontend"]
	path = packages/frontend
	url = git@github.com:defiforpeople/frontend.git
[submodule "packages/strat-supply-uni"]
	path = packages/strat-supply-uni
	url = git@github.com:defiforpeople/strat-supply-uni.git
[submodule "packages/strat-supply-aave"]
	path = packages/strat-supply-aave
	url = git@github.com:defiforpeople/strat-supply-aave.git
[submodule "packages/synchronizer"]
	path = packages/synchronizer
	url = git@github.com:defiforpeople/synchronizer.git